[submodule "HPE/thirdparty/dinov3"]
	path = HPE/thirdparty/dinov3
	url = https://github.com/facebookresearch/dinov3.git
[submodule "HPE/thirdparty/pytorch-image-models"]
	path = HPE/thirdparty/pytorch-image-models
	url = https://github.com/huggingface/pytorch-image-models.git
[submodule "HPE/thirdparty/ConvNeXt-V2"]
	path = HPE/thirdparty/ConvNeXt-V2
	url = https://github.com/facebookresearch/ConvNeXt-V2.git
[submodule "HPE/thirdparty/MinkowskiEngine"]
	path = HPE/thirdparty/MinkowskiEngine
	url = https://github.com/NVIDIA/MinkowskiEngine.git
[submodule "pose/pose/model/thirdparty/pytorch-image-models"]
	path = pose/pose/model/thirdparty/pytorch-image-models
	url = https://github.com/huggingface/pytorch-image-models
[submodule "pose/pose/model/thirdparty/dinov3"]
	path = pose/pose/model/thirdparty/dinov3
	url = https://github.com/facebookresearch/dinov3.git
