[submodule "HPE/models/backbone/dinov3"]
	path = HPE/models/backbone/dinov3
	url = https://github.com/facebookresearch/dinov3.git
[submodule "HPE/models/backbone/pytorch-image-models"]
	path = HPE/models/backbone/pytorch-image-models
	url = https://github.com/huggingface/pytorch-image-models.git
